@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";



html, body {
    height: 100%;
    margin: 0px;
}

.form-control.ng-touched.ng-invalid {

    border: 2px solid red;
    animation: myerror 2s infinite;
}
@keyframes myerror{
    50% {border-color: rgb(214, 206, 211)}
}