
 <div class="jumbotron">
  <h1 class="display-4">Hello, Trainee!</h1>
  <br>
  <p class="lead">This is your page, a simple to use and self explanatory navigation for content or information relevant to you.</p>
  <hr class="my-5">
    
  <p>WHAT YOU CAN DO: </p>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Submit your profile</li>
      <li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Check your grade</li>
      <li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Submit request</li>
      <li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Upload a file</li>
      <li><span class="fa-li"><i class="fa fa-spinner fa-pulse"></i></span>Check your military status</li>
    </ul>
</div>