<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 left">
          <h4>SERVICES</h4>
          <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service/service1">Service 1</button>
          <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service/service2">Service 2</button>
          <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service/service3">Service 3</button>
          <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service/service4">Service 4</button>
      </div>
      <div class="col-md-6 center">

           <router-outlet></router-outlet>
        
      </div>
      <div class="col-md-3 right">
        
      </div>
    </div>
  </div>