<form
  name="form"
  (ngSubmit)="f.form.valid && submitRequest()"
  #f="ngForm"
  novalidate
>
  <h2>Request Form</h2>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      required
      minlength="3"
      maxlength="30"
      [(ngModel)]="requestInfo.name"
      name="name"
      #nameInput="ngModel"
      type="text"
      class="form-control"
      id="name"
      placeholder="Name"
    />
    <div class="help is-error" *ngIf="nameInput.touched && !nameInput.valid">
      <div *ngIf="nameInput?.errors.required">
        <span style="color: red; font-style:italic"> Name is required!</span>
      </div>

      <div *ngIf="nameInput?.errors.minlength">
        <span style="color: red; font-style:italic">
          Name should be atleast
          {{ nameInput?.errors.minlength.requiredLength }} characters
          long!</span
        >
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input
      required
      email
      [(ngModel)]="requestInfo.email"
      name="email"
      #emailInput="ngModel"
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Enter Email"
    />
    <div class="help is-error" *ngIf="emailInput.touched && !emailInput.valid">
      <div *ngIf="emailInput?.errors.required">
        <span style="color: red; font-style:italic"> Email is required!</span>
      </div>
      <div *ngIf="emailInput?.errors.email">
        <span style="color: red; font-style:italic">
          The email pattern you entered is not valid!</span
        >
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input
      required
      minlength="5"
      [(ngModel)]="requestInfo.subject"
      name="subject"
      #subjectInput="ngModel"
      type="text"
      class="form-control"
      id="subject"
      placeholder="subject"
    />

    <div
      class="help is-error"
      *ngIf="subjectInput.touched && !subjectInput.valid"
    >
      <div *ngIf="subjectInput?.errors.required">
        <span style="color: red; font-style:italic">Subject is required!</span>
      </div>
      <div *ngIf="subjectInput?.errors.minlength">
        <span style="color: red; font-style:italic">
          Please enter atleast
          {{ subjectInput?.errors.minlength.requiredLength }} characters!</span
        >
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="body">Your Message</label>
    <textarea
      class="textarea"
      required
      minlength="15"
      [(ngModel)]="requestInfo.body"
      name="body"
      #bodyInput="ngModel"
      type="text"
      class="form-control"
      id="body"
      rows="10"
    ></textarea>

    <div class="help is-error" *ngIf="bodyInput.touched && !bodyInput.valid">
      <div *ngIf="bodyInput?.errors.required">
        <span style="color: red; font-style:italic"
          >Some text content is required!</span
        >
      </div>
      <div *ngIf="bodyInput?.errors.minlength">
        <span style="color: red; font-style:italic">
          Please enter atleast
          {{ bodyInput?.errors.minlength.requiredLength }} characters!</span
        >
      </div>
    </div>
  </div>
  <!--The button is disabled until all the fields in the form are valid by using [disabled]="!f.form.valid"-->
  <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">
    Send Request
  </button>
</form>
