<h3 style="color: rgb(32, 53, 173); text-align: center">Register/Sign-Up Form</h3>

<form
  name="form"
  (ngSubmit)="f.form.valid && submitForm()"
  #f="ngForm"
  novalidate>
  <div class="row">
  <div class="form-group col-md-9" >
    <label for="firstName">First Name</label>
    <input 
    required
    minlength="3"
    [(ngModel)]="signUpInfo.firstName"
    name="firstName"
    #firstNameInput="ngModel"
    type="text" 
    class="form-control" 
    id="firstName" 
    placeholder="First Name"/>
        <div class="help is-error" *ngIf="firstNameInput.touched && !firstNameInput.valid">
          <div *ngIf="firstNameInput?.errors.required">
            <span style="color: red; font-style:italic"> First Name is required!</span>
          </div>
          
          <div *ngIf="firstNameInput?.errors.minlength">
            <span style="color: red; font-style:italic">
              First Name should be atleast
              {{ firstNameInput?.errors.minlength.requiredLength }} characters
              long!</span
            >
          </div>
        </div>
    
  </div>
  <div class="form-group col-md-9">
    <label for="lastName">Last Name</label>
    <input 
    required
    minlength="3"
    [(ngModel)]="signUpInfo.lastName"
    name="lastName"
    #lastNameInput="ngModel"
    type="text" 
    class="form-control"
    id="lastName" 
    placeholder="Last Name"/>
        <div class="help is-error" *ngIf="lastNameInput.touched && !lastNameInput.valid">
          <div *ngIf="lastNameInput?.errors.required">
            <span style="color: red; font-style:italic"> Last Name is required!</span>
          </div>
          
          <div *ngIf="lastNameInput?.errors.minlength">
            <span style="color: red; font-style:italic">
              Last Name should be atleast
              {{ lastNameInput?.errors.minlength.requiredLength }} characters
              long!</span
            >
          </div>
        </div>
    
    </div>
  
  <div class="form-group col-md-9">
    <label for="username">Username</label>
    <input 
    required
    minlength="3"
    [(ngModel)]="signUpInfo.username"
    name="username"
    #usernameInput="ngModel"
    type="text" 
    class="form-control"
    id="username" 
    placeholder="Username"/>
        <div class="help is-error" *ngIf="usernameInput.touched && !usernameInput.valid">
          <div *ngIf="usernameInput?.errors.required">
            <span style="color: red; font-style:italic"> Username is required!</span>
          </div>
          
          <div *ngIf="usernameInput?.errors.minlength">
            <span style="color: red; font-style:italic">
              Username should be atleast
              {{ usernameInput?.errors.minlength.requiredLength }} characters
              long!</span
            >
          </div>
        </div>
    
    </div>
  </div>
  
  <div class="row">
  <div class="form-group col-md-9">
    <label for="email">Email</label>
    <input 
    required
    email
    [(ngModel)]="signUpInfo.email"
    name="email"
    #emailInput="ngModel"
    type="email"
    class="form-control" 
    id="email" 
    placeholder="Email"/>
        <div class="help is-error" *ngIf="emailInput.touched && !emailInput.valid">
          <div *ngIf="emailInput?.errors.required">
            <span style="color: red; font-style:italic"> Email is required!</span>
          </div>
          
          <div *ngIf="emailInput?.errors.email">
            <span style="color: red; font-style:italic">
              The Email pattern you entered is not valid!
              </span
            >
          </div>
        </div>

  </div>
  <div class="form-group col-md-9">
    <label for="password">Password</label>
    <input
    required
    minlength="8"
    [(ngModel)]="signUpInfo.password"
    name="password"
    #passwordInput="ngModel"
    type="password" 
    class="form-control" 
    id="password" 
    placeholder="Enter Password"/>
        <div class="help is-error" *ngIf="passwordInput.touched && !passwordInput.valid">
          <div *ngIf="passwordInput?.errors.required">
            <span style="color: red; font-style:italic"> Password is required!</span>
          </div>
          
          <div *ngIf="passwordInput?.errors.minlength">
            <span style="color: red; font-style:italic">
              Password should be atleast
              {{ passwordInput?.errors.minlength.requiredLength }} characters
              long!</span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    
    <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary btn-block">SignUp/Register</button>
  
</form>


