<form
  name="form"
  (ngSubmit)="f.form.valid && submitProfile()"
  #f="ngForm"
  novalidate
>
  <fieldset id="fieldset1">
    <legend id="legend1">User Profile Entry Form</legend>
    <br />

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="FirstName">First Name</label>
        <input
          required
          minlength="3"
          maxlength="15"
          [(ngModel)]="profileModel.userModels.firstName"
          name="firstName"
          #inputFirstName="ngModel"
          type="text"
          class="form-control form-control-sm"
          id="FirstName"
          placeholder=""
        />

        <div
          class="help is-error"
          *ngIf="inputFirstName.touched && !inputFirstName.valid"
        >
          <div *ngIf="inputFirstName?.errors?.required">
            <span style="color: red; font-style:italic"
              >First Name is required!</span
            >
          </div>
          <div *ngIf="inputFirstName?.errors?.minlength">
            <span style="color: red; font-style:italic"
              >First Name should be minimum of
              {{
                inputFirstName?.errors?.minlength.requiredLength
              }}
              characters</span
            >
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="LastName">Last Name</label>
        <input
          required
          minlength="3"
          maxlength="15"
          [(ngModel)]="profileModel.userModels.lastName"
          name="lastName"
          #inputLastName="ngModel"
          type="text"
          class="form-control form-control-sm"
          id="LastName"
          placeholder=""
        />

        <div
          class="help is-error"
          *ngIf="inputLastName.touched && !inputLastName.valid"
        >
          <div *ngIf="inputLastName?.errors?.required">
            <span style="color: red; font-style:italic"
              >Last Name is required</span
            >
          </div>
          <div *ngIf="inputLastName?.errors?.minlength">
            <span style="color: red; font-style:italic"
              >Last Name should be minimum of
              {{ inputLastName?.errors?.minlength.requiredLength }} characters
              long</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="Gender">Gender</label>

        <select
          required
          [(ngModel)]="profileModel.gender"
          class="custom-select"
          id="Gender"
          name="gender"
          #inputGender="ngModel"
          class="form-control form-control-sm"
        >
          <option selected disabled>Select</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <div
          class="help is-error"
          *ngIf="inputGender.touched && !inputGender.valid"
        >
          <div *ngIf="inputGender?.errors?.required">
            <span style="color: red; font-style:italic">
              Gender is required</span
            >
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="BirthDate">Birth Date</label>

        <input
          required
          [(ngModel)]="profileModel.dob"
          name="birthDate"
          #inputBirthDate="ngModel"
          type="Date"
          class="form-control form-control-sm"
          min="1950-01-01"
          id="BirthDate"
          placeholder=""
        />

        <div
          class="help is-error"
          *ngIf="inputBirthDate.touched && !inputBirthDate.valid"
        >
          <div *ngIf="inputBirthDate?.errors?.required">
            <span style="color: red; font-style:italic"
              >Birth Date is required</span
            >
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="PhoneNumber">Phone Number</label>
        <input
          required
          minlength="10"
          [(ngModel)]="profileModel.phoneNumber"
          name="phoneNumber"
          #inputPhoneNumber="ngModel"
          type="tel"
          class="form-control form-control-sm"
          id="PhoneNumber"
          placeholder=""
        />
        <div
          class="help is-error"
          *ngIf="inputPhoneNumber.touched && !inputPhoneNumber.valid"
        >
          <div *ngIf="inputPhoneNumber?.errors?.required">
            <span style="color: red; font-style:italic"
              >Phone Number is required</span
            >
          </div>
          <div *ngIf="inputPhoneNumber?.errors?.minlength">
            <span style="color: red; font-style:italic">
              Phone number should be
              {{ inputPhoneNumber?.errors?.minlength.requiredLength }} digits
              long
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="MotherName">Mother's Name</label>
        <input
          required
          minlength="3"
          maxlength="20"
          [(ngModel)]="profileModel.motherName"
          name="motherName"
          #inputMotherName="ngModel"
          type="text"
          class="form-control form-control-sm"
          id="MotherName"
          placeholder=""
        />

        <div
          class="help is-error"
          *ngIf="inputMotherName.touched && !inputMotherName.valid"
        >
          <div *ngIf="inputMotherName?.errors?.required">
            <span style="color: red; font-style:italic"
              >Mother's Name is required</span
            >
          </div>
          <div *ngIf="inputMotherName?.errors?.minlength">
            <span style="color: red; font-style:italic">
              Mother Name should be atleast
              {{ inputMotherName?.errors?.minlength.requiredLength }} characters
              long</span
            >
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="MothersFather">Mother's Father Name</label>
        <input
          required
          minlength="3"
          maxlength="15"
          [(ngModel)]="profileModel.motherFatherName"
          name="mothersFather"
          #inputMothersFather="ngModel"
          type="text"
          class="form-control form-control-sm"
          id="MothersFather"
          placeholder=""
        />

        <div
          class="help is-error"
          *ngIf="inputMothersFather.touched && !inputMothersFather.valid"
        >
          <div *ngIf="inputMothersFather?.errors?.required">
            <span style="color: red; font-style:italic">
              Mother´s Father Name is required</span
            >
          </div>
          <div *ngIf="inputMothersFather?.errors?.minlength">
            <span style="color: red; font-style:italic"
              >Mother's Father Name should be at least
              {{
                inputMothersFather?.errors?.minlength.requiredLength
              }}
              characters</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Biher">Biher</label>

        <select
          required
          [(ngModel)]="profileModel.biherModels.biherName"
          class="custom-select"
          id="Biher"
          name="biher"
          #inputBiher="ngModel"
          class=" form-control form-control-sm"
        >
        <option *ngFor="let biher of  profileModel.biherModels">{{biher.biherName}}</option>
        </select>
        <div
          class="help is-error"
          *ngIf="inputBiher.touched && !inputBiher.valid"
        >
          <div *ngIf="inputBiher?.errors?.required">
            <span style="color: red; font-style:italic">
              Biher is required</span
            >
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="Religion">Religion</label>

        <select
          required
          [(ngModel)]="profileModel.religionModels.religionName"
          class="custom-select"
          id="Religion"
          name="religion"
          #inputReligion="ngModel"
          class="form-control form-control-sm"
        >
        <option *ngFor="let religion of  profileModel.religionModels">{{religion.religionName}}</option>

        </select>
        <div
          class="help is-error"
          *ngIf="inputReligion.touched && !inputReligion.valid"
        >
          <div *ngIf="inputReligion?.errors?.required">
            <span style="color: red; font-style:italic">
              Religion is required</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Department">Department</label>

        <select
          required
          [(ngModel)]="profileModel.departmentModels.departmentName"
          class="custom-select"
          id="Department"
          name="department"
          #inputDepartment="ngModel"
          class=" form-control form-control-sm"
        >



          <option *ngFor="let department of  profileModel.departmentModels">{{department.departmentName}}</option>


        </select>
        <div
          class="help is-error"
          *ngIf="inputDepartment.touched && !inputDepartment.valid"
        >
          <div *ngIf="inputDepartment?.errors?.required">
            <span style="color: red; font-style:italic">
              Department is required</span
            >
          </div>
        </div>
      </div>
    </div>
      <div class="form-row">
      <div class="form-group col-md-12">
          <label for="Address" style="color:blue; font-size: 20px">Address Information</label>
          <br>
          <small style="color: orange; font-style: italic">Please Select Address Type first to Proceed to the Details</small>

          <select
          type="checkbox"
          required
          [(ngModel)]="profileModel.addressModels.addressType"
          class="custom-select"
          id="Address"
          name="address"
          #inputAdrressType="ngModel"
          class=" form-control form-control-sm"
          >
          
        
          <option *ngFor="let address of  profileModel.addressModels"> {{address.addressType}}</option>

          <div *ngFor="let address of  profileModel.addressModels">
            <input type="checkbox"
                      name="address"
                      value="{{address.addressType}}"
                      [(ngModel)]="address"/>
    
            <label>{{address.addressType}}</label>
        </div>
                   
        </select>
      </div>
    </div>
   

    <fieldset id="fieldset2" *ngIf="profileModel.addressModels.addressType==='Residence'">

      <legend id="legend2">Home Address Details</legend>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="Street">Street</label>
          <input
            required
            minlength="10"
            [(ngModel)]="profileInfo.street"
            name="street"
            #inputStreet="ngModel"
            type="text"
            class="form-control form-control-sm"
            id="Street"
            placeholder=""
          />

          <div
            class="help is-error"
            *ngIf="inputStreet.touched && !inputStreet.valid"
          >
            <div *ngIf="inputStreet?.errors?.required">
              <span style="color: red; font-style:italic">
                Street Address is required</span
              >
            </div>
            <div *ngIf="inputStreet?.errors?.minlength">
              <span style="color: red; font-style:italic">
               Street Address should be at least
                {{
                  inputStreet?.errors.minlength.requiredLength
                }}
                characters</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="City">City</label>
          <input
            required
            minlength="2"
            [(ngModel)]="profileInfo.city"
            name="city"
            #inputCity="ngModel"
            type="text"
            class="form-control form-control-sm"
            id="City"
            placeholder
          />

          <div
            class="help is-error"
            *ngIf="inputCity.touched && !inputCity.valid"
          >
            <div *ngIf="inputCity?.errors?.required">
              <span style="color: red; font-style:italic">
                City is required</span
              >
            </div>
            <div *ngIf="inputCity?.errors?.minlength">
              <span style="color: red; font-style:italic">
                City should be at least
                {{
                  inputCity?.errors?.minlength.requiredLength
                }}
                characters</span
              >
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="Zoba">Zoba</label>
          <select
            required
            [(ngModel)]="profileInfo.zoba"
            name="zoba"
            id="Zoba"
            class="form-control form-control-sm"
            #inputZoba="ngModel"
          >
            <option selected disabled>Choose...</option>
            <option value="Anseba">Anseba</option>
            <option value="Gash Barka">Gash Barka</option>
            <option value="Maekel">Maekel</option>
            <option value="Debub">Debub</option>
            <option value="Semienawi Keyh Bahri">Semienawi Keyh Bahri</option>
            <option value="Debubawi Keyh Bahri">Debubawi Keyh Bahri</option>
          </select>
          <div
            class="help is-error"
            *ngIf="inputZoba.touched && !inputZoba.valid"
          >
            <div *ngIf="inputZoba?.errors?.required">
              <span style="color: red; font-style:italic">
                Zoba is required</span
              >
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset id="fieldset2" *ngIf="profileModel.addressModels.addressType==='Work'">

        <legend id="legend2">Work Address Details</legend>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="Street">Street</label>
            <input
              required
              minlength="10"
              [(ngModel)]="profileInfo.street"
              name="street"
              #inputStreet="ngModel"
              type="text"
              class="form-control form-control-sm"
              id="Street"
              placeholder=""
            />

            <div
              class="help is-error"
              *ngIf="inputStreet.touched && !inputStreet.valid"
            >
              <div *ngIf="inputStreet?.errors?.required">
                <span style="color: red; font-style:italic">
                  Street is required</span
                >
              </div>
              <div *ngIf="inputStreet?.errors?.minlength">
                <span style="color: red; font-style:italic">
                  Street Address should be at least
                  {{
                    inputStreet?.errors?.minlength.requiredLength
                  }}
                  characters</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="City">City</label>
            <input
              required
              minlength="2"
              [(ngModel)]="profileInfo.city"
              name="city"
              #inputCity="ngModel"
              type="text"
              class="form-control form-control-sm"
              id="City"
              placeholder
            />

            <div
              class="help is-error"
              *ngIf="inputCity.touched && !inputCity.valid"
            >
              <div *ngIf="inputCity?.errors?.required">
                <span style="color: red; font-style:italic">
                  City is required</span
                >
              </div>
              <div *ngIf="inputCity?.errors?.minlength">
                <span style="color: red; font-style:italic">
                  City should be at least
                  {{
                    inputCity?.errors?.minlength.requiredLength
                  }}
                  characters</span
                >
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="Zoba">Zoba</label>
            <select
              required
              [(ngModel)]="profileInfo.zoba"
              name="zoba"
              id="Zoba"
              class="form-control form-control-sm"
              #inputZoba="ngModel"
            >
              <option selected disabled>Choose...</option>
              <option value="Anseba">Anseba</option>
              <option value="Gash Barka">Gash Barka</option>
              <option value="Maekel">Maekel</option>
              <option value="Debub">Debub</option>
              <option value="Semienawi Keyh Bahri">Semienawi Keyh Bahri</option>
              <option value="Debubawi Keyh Bahri">Debubawi Keyh Bahri</option>
            </select>
            <div
              class="help is-error"
              *ngIf="inputZoba.touched && !inputZoba.valid"
            >
              <div *ngIf="inputZoba?.errors?.required">
                <span style="color: red; font-style:italic">
                  Zoba is required</span
                >
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset id="fieldset2" *ngIf="profileModel.addressModels.addressType==='Other'">

          <legend id="legend2">Other Address Details</legend>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Street">Street</label>
              <input
                required
                minlength="10"
                [(ngModel)]="profileInfo.street"
                name="street"
                #inputStreet="ngModel"
                type="text"
                class="form-control form-control-sm"
                id="Street"
                placeholder=""
              />

              <div
                class="help is-error"
                *ngIf="inputStreet.touched && !inputStreet.valid"
              >
                <div *ngIf="inputStreet?.errors?.required">
                  <span style="color: red; font-style:italic">
                    Street Address is required</span
                  >
                </div>
                <div *ngIf="inputStreet?.errors?.minlength">
                  <span style="color: red; font-style:italic">
                    Street Address should be at least
                    {{
                      inputStreet?.errors?.minlength.requiredLength
                    }}
                    characters</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="City">City</label>
              <input
                required
                minlength="2"
                [(ngModel)]="profileInfo.city"
                name="city"
                #inputCity="ngModel"
                type="text"
                class="form-control form-control-sm"
                id="City"
                placeholder
              />

              <div
                class="help is-error"
                *ngIf="inputCity.touched && !inputCity.valid"
              >
                <div *ngIf="inputCity?.errors?.required">
                  <span style="color: red; font-style:italic">
                    City is required</span
                  >
                </div>
                <div *ngIf="inputCity?.errors?.minlength">
                  <span style="color: red; font-style:italic">
                    City should be at least
                    {{
                      inputCity?.errors?.minlength.requiredLength
                    }}
                    characters</span
                  >
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="Zoba">Zoba</label>
              <select
                required
                [(ngModel)]="profileInfo.zoba"
                name="zoba"
                id="Zoba"
                class="form-control form-control-sm"
                #inputZoba="ngModel"
              >
                <option selected disabled>Choose...</option>
                <option value="Anseba">Anseba</option>
                <option value="Gash Barka">Gash Barka</option>
                <option value="Maekel">Maekel</option>
                <option value="Debub">Debub</option>
                <option value="Semienawi Keyh Bahri">Semienawi Keyh Bahri</option>
                <option value="Debubawi Keyh Bahri">Debubawi Keyh Bahri</option>
              </select>
              
              <div
                class="help is-error"
                *ngIf="inputZoba.touched && !inputZoba.valid"
              >
                <div *ngIf="inputZoba?.errors?.required">
                  <span style="color: red; font-style:italic">
                    Zoba is required</span
                  >
                </div>
              </div>
            </div>
          </div>
        </fieldset>
    <br />

    <button type="submit" [disabled]="!f.form.valid" class="btn">Submit</button>
  </fieldset>
</form>
