<div class="container-fluid profile-form">

    <form  #userForm ="" (ngSubmit) = "onSubmit()">
      <fieldset>
          <legend>Profile Info:</legend>
          <br>
        
          <div class="form-row"> 
                <div class="form-group col-md-6">
                  <label for="firstName">First Name</label>
                  <input 
                    required 
                      minlength="3" 
                      maxLength="15" 
                      pattern="" 
                    ngModel 
                      name="firstName" 
                      #firstName="ngModel"
                      type="text" 
                      class="form-control"
                      id="firstName"
                      placeholder="">

                    <div 
                      class= "alert alert-danger" 
                        *ngIf="firstName.touched && !firstName.valid">
                            <div *ngIf="firstName?.errors.required">
                                    First Name is required!</div>
                            <div *ngIf="firstName?.errors.minlength">
                                    First Name should be minimum of {{firstName?.errors.minlength.requiredLength}} characters</div>
                            <div *ngIf="firstName?.errors.pattern">
                                    First Name doesn't match the pattern</div>

                    </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="lastName">Last Name</label>
                  <input 
                    required
                      minlength="3"
                      maxlength="15"
                      pattern=""
                    ngModel
                      name="lastName"
                      #lastName="ngModel"
                      type="text"
                      class="form-control"
                      id="lastName"
                      placeholder="">

                    <div 
                      class="alert alert-danger" 
                        *ngIf="lastName.touched && !lastName.valid">
                            <div *ngIf="lastName?.errors.required"> 
                                  Last Name is required</div>
                            <div *ngIf="lastName?.errors.minlength">
                                  Last Name should be minimum of {{lastName?.errors.minlength.requiredLength}} characters long</div>
                            <div *ngIf="lastName?.errors.pattern">
                                  Last Name doesn't match the pattern</div>

                    </div>

                  
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-2">
                  <label for="gender">Gender</label>
                                      
                  <select class="custom-select" id="gender">
                    <option selected disabled>Select</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>         
              </div>
            
              <div class="form-group col-md-4">
                  <label for="birthDate">Birth Date</label>
             
                  <input 
                      required 
                      ngModel 
                        name="birthDate"
                        #birthDate="ngModel"
                        type="Date"
                        class="form-control" 
                        min="1950-01-01"
                        id="birthDate" 
                        placeholder=""> 
                        
                        <div class="alert alert-danger"
                          *ngIf="birthDate.touched && !birthDate.valid">
                            <div *ngIf="birthDate?.errors.required">
                                Birth Date is required</div>

                        </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="phoneNumber">Phone Number</label>
                  <input 
                      required 
                        minlength="10"
                        ngModel 
                        name="phoneNumber"
                        #phoneNumber="ngModel"
                        type="number" 
                        class="form-control"
                        id="phoneNumber" 
                        placeholder="123-456-7890">
                        <div class="alert alert-danger" 
                          *ngIf="phoneNumber.touched && !phoneNumber.valid">
                              <div *ngIf="phoneNumber?.errors.required">
                                  Phone Number is required </div>
                              <div *ngIf="phoneNumber?.errors.minlength">
                                Phone number should be {{ phoneNumber?.errors.minlength.requiredLength }} digits long </div>
                        </div>
              </div>
          </div>                      
          <br>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputAddress">Mother's Name</label>
                  <input 
                      required 
                      minlength="3" 
                      maxlength="20"
                      pattern="" 
                      ngModel 
                      name="motherName"
                      #motherName="ngModel"
                      type="text" 
                      class="form-control"
                      id="motherName" 
                      placeholder="">

                      <div class="alert alert-danger"
                        *ngIf="motherName.touched && !motherName.errors.valid">
                            <div *ngIf="motherName?.errors.required ">
                                Mother's Name is required</div>
                            <div *ngIf="motherName?.errors.minlength">
                                Mother Name should be atleast {{ motherName?.errors.minlength.requiredLength }} characters long

                            </div>
                      </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="mothersFather">Mother's Father Name</label>
                  <input 
                    required 
                    minlength="3" 
                    maxlength="15" 
                    pattern="" 
                    ngModel 
                    name="mothersFather" 
                    #mothersFather="ngModel"
                    type="text" 
                    class="form-control"
                    id="mothersFather" 
                    placeholder="">

                      <div class="alert alert-danger"
                        *ngIf="mothersFather.touched && !mothersFather.valid">
                            <div *ngIf="mothersFather?.errors.required">
                                Mother´s Father Name is required</div>
                            <div *ngIf="mothersFather?.errors.minlength">
                                Mother's Father Name should be at least {{mothersFather?.errors.minlength.requiredLength}} characters</div>
                      </div>
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputBiher">Ethnicity/Biher</label>
                                    
                <select class="custom-select" id="inputBiher">
                  <option selected disabled>Select</option>
                  <option value="Afar">Afar</option>
                  <option value="Bilen">Bilen</option>
                  <option value="Hedareb">Hedareb</option>
                  <option value="Kunama">Kunama</option>
                  <option value="Rashayda">Rashayda</option>
                  <option value="Saho">Saho</option>
                  <option value="Tigre">Tigre</option>
                  <option value="Tigrinya">Tigrinya</option>
                  <option value="Nara">Nara</option>
                  
                </select>         
            </div>

            <div class="form-group col-md-6">
                <label for="inputReligion">Religion</label>
                                    
                <select class="custom-select" id="inputReligion">
                  <option selected disabled>Select</option>
                  <option value="M">Catholic</option>
                  <option value="F">Orthodox</option>
                  <option value="F">Muslim</option>
                  <option value="F">Evangelical</option>
                  <option value="F">Other</option>
                </select>         
            </div>
           
          </div>  
      
      <br>
      <br>
  
          <input type="submit" class="btn" value="Submit">

       </fieldset>
    </form>
  </div>