<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 left">
          <h4>ACTIONS</h4>
          <button type="button" class="btn btn-outline-success btn-block" routerLink="/trainer/profile">Profile</button>
          <button type="button" class="btn btn-outline-success btn-block" routerLink="/trainer/messaging">Message Forms</button>
          <button type="button" class="btn btn-outline-success btn-block" routerLink="/trainer/assignments">Assignments</button>
          <button type="button" class="btn btn-outline-success btn-block" routerLink="/trainer/activities">Trainee Activities</button>
      </div>
      <div class="col-md-6 center">

           <router-outlet></router-outlet>
        
      </div>
      <div class="col-md-3 right">
        
      </div>
    </div>
  </div>